/* responsive.css */

@media (max-width: 992px) {
    .sidebar {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      background-color: #fff;
      z-index: 1050;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
  
    .sidebar.active {
      display: block;
    }
  
    .hamburger {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1100;
      background: none;
      border: none;
      font-size: 24px;
      color: #dcabdf;
    }
  
    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    .logo-container h2 {
      font-size: 28px;
    }
  
    .slogan {
      font-size: 16px;
      color: #999;
      margin-top: -10px;
      font-family: 'Raleway';
    }
  
    .search-bar {
      width: 100%;
      margin-top: 10px;
    }
  
    .navbar-custom .navbar-collapse {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .image-container img {
      max-width: 100%;
      height: auto;
    }
  
    .text-overlay h1 {
      font-size: 60px;
    }
  }
  
  @media (max-width: 576px) {
    .text-overlay h1 {
      font-size: 40px;
    }
  }

  