.bg-custom-1 { background-color: #DDDFDF; }
.bg-custom-2 { background-color: #DDDDDF; }
.bg-custom-3 { background-color: #D0C4DF; }
.bg-custom-4 { background-color: #DCABDF; }
.bg-custom-5 { background-color: #C792DF; }
.bg-custom-6 {background-color: white;
border: black 2px solid;}