.admin-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    position: relative;
}

.admin-home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
    width: 100%;
    text-align: center;
}

.admin-home-title {
    font-size: 3.5rem;
    color: #805fa6;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 105px;
}

.admin-home-image {
    width: 500px;
    opacity: 0.5;
    display: block;
    margin: 0 auto;
    z-index: 1;
}