.employee-sidebar {
    width: 260px;
    min-height: 100vh;
    background: #ffffff;
    border-right: #dddfdd 2px solid;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.EmployeeSidebar-header,
.EmployeeSidebar-nav li {
    font-family: 'quicksand';
    font-size: 21px;
    list-style: none;
    
}

.Employee-sidebar-icon-person {
    font-size: 35px;
    color: #ac98c4;
    margin-bottom: 5px;
    margin-right: 15px;
}

.EmployeeSidebar-header-row {
    display: flex;
    align-items: center;
    padding-left: 27px;
    margin-bottom: 16px;
    cursor: pointer;

}

.EmployeeSidebar-header-row button {
    border: none;
    background: none;
    cursor: pointer;
}

.Employee-sidebar-icon-notification {
    font-size: 30px;
    color: #dcabdf;
    margin-left: auto;
    margin-right: 24px;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.3s;
}

.Employee-sidebar-icon-notification:hover {
    color: #dcabdf;
    transform: scale(1.15);
}


.EmployeeSidebar-header-dashboard a,
.EmployeeSidebar-header-registrar a,
.EmployeeSidebar-header-administrar a,
.EmployeeSidebar-header-clientes a {
    text-decoration: none;
    padding: 8px 24px;
    font-size: 18px;
    color: black;
    font-family: 'quicksand';
}

.EmployeeSidebar-header-dashboard,
.EmployeeSidebar-header-registrar,
.EmployeeSidebar-header-administrar,
.EmployeeSidebar-header-clientes {
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 16px;
    margin-bottom: 30px;
}

.EmployeeSidebar-header-dashboard:hover,
.EmployeeSidebar-header-registrar:hover,
.EmployeeSidebar-header-administrar:hover,
.EmployeeSidebar-header-clientes:hover {
    transform: scale(1.15);
}

.Employee-sidebar-icon-dashboard,
.Employee-sidebar-icon-register,
.Employee-sidebar-icon-settings,
.Employee-sidebar-icon-clients
{
    font-size: 25px;
    margin-left: 20px;
    color: #805fa6;
}

.EmployeeSidebar-header-usuarios {
    font-family: 'quicksand';
    font-size: 20px;
    color: #dcabdf;
    margin-left: 16px;
    font-weight: 550;
}

.EmployeeSidebar-header-logout {
    margin-top: auto;
    padding: 24px 0 0 100px;
    font-size: 1.9rem;
    color: #dcabdf;
    cursor: pointer;
}

.EmployeeSidebar-header-logout button {
    border-radius: 20px;
    padding: 4px 12px;
    background-color: #dcabdf;
    border: none;
    color: white;
    cursor: pointer;
}

.EmployeeSidebar-header-logout:hover {
    transform: scale(1.15);
}

hr {
    border-top: 2px solid #b790b7;
}
