.EmployeeNavbar .container-fluid {
    display: flex;
    align-items: center;
}

.EmployeeNavbar {
    font-family: Quicksand, sans-serif;
    height: 80px;
    display: flex;
    width: 100%;

}

.EmployeeNavbar-search {
    background-color: #ddabdf50;
    width: 330px;
}

.EmployeeNavbar-search:focus {
    background-color: #ffffff70;
    border: 2px solid #e69eea;
    transition: background-color 0.3s;
    outline: none;
    box-shadow: none;
}

.EmployeeNavbar-icon {
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;

}

.EmployeeNavbar-icon:hover {
    color: #e69eea;
    transition: color 0.3s;
    transform: scale(1.3);
}

.EmployeeNavbar-logo {
    height: 40px;
    width: 40px;
    object-fit: contain;
    margin-left: 0;
    /* Cambia esto a 0 */
    border-radius: 8px;

}

.EmployeeNavbar-item-name-text {
    font-family: "Great Vibes";
    font-size: 21px;
}

.EmployeeNavbar-item-home-ini {
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.EmployeeNavbar-item-home-ini li {
    color: black;

    text-decoration: underline;
}