@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-family: 'Great vibes';
}

.bg-custom-1 {
    background-color: white;
    font-family: 'Dancing Script';
    border: 2px black solid;
}
.bg-custom-2 {
    background-color: white;
    font-family: 'Raleway';
}
.bg-custom-3 {
    background-color: none;
    font-family: 'Quicksand';
}
.bg-custom-4  {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.bg-custom-5{
    background-color: white;
    font-family: 'Cinzel';
}
.bg-custom-6{
    background-color: white;
    font-family: 'Great vibes';
    border: none;
}
.bg-custom-7{
    background-color: #DCABDF;
    font-family: 'Futura';
}
.bg-custom-8{
    background-color: #fafafa;
    font-family: 'Barlow';
}
.bg-custom-9{
    background-color: none;
    font-family: 'Montserrat';
}