@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

/* h1 {
    font-family: 'Great vibes';
} */

.bg-custom-1 {
    font-family: 'Dancing Script';
}

.bg-custom-2 {
    font-family: 'Raleway';
}

.bg-custom-3 {
    background-color: none;
    font-family: 'Quicksand';
}

.bg-custom-4 {
    font-family: 'Poppins', sans-serif;
}

.bg-custom-5 {
    font-family: 'Cinzel';
}

.bg-custom-6 {
    font-family: 'Great vibes';
}

.bg-custom-7 {
    font-family: 'Futura';
}

.bg-custom-8 {
    font-family: 'Barlow';
}

.bg-custom-9 {
    background-color: none;
    font-family: 'Montserrat';
}

.bg-custom-10 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.bg-custom-11 {
    font-family: "Corinthia", cursive;
}