.appointment .bg-custom-2 {
    font-size: 60px;
    padding-bottom: 30px;
}

.appointment-section {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 80px;
    box-sizing: border-box;
}

.form-appointment {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.container-appointment {
    display: flex;
    flex-direction: column; /* Organiza el contenido verticalmente */
    align-items: center; /* Centra horizontalmente los elementos hijos */
    padding: 0 20px;
}

/* Si necesitas centrar elementos específicos dentro del contenedor */
.container-appointment > * {
    width: 100%;
    text-align: center; /* Centra el texto dentro de cada elemento hijo */
}

.title{
    margin-top: -20px;
}