.edit-button {
    background-color: #da96e4;
    color: white;
    width: 38px;
    height: 38px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.edit-button:hover {
    background-color: #c882d8;
    color: #fff;
}